
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Leckerli+One&family=Vesper+Libre:wght@400;700&display=swap" rel="stylesheet">


.title{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}

.top{
    background: radial-gradient(circle at center, #D3BDCA, #c3c9d7);
    justify-content: center;
    align-items: center;
    width: 100%;
    top:0px;
}

.linkbar{
    display: flex;
    justify-content: space-between; 
    
}
.pages{
    margin-left: auto;
    font-family: 'PT Serif', serif;
    display:flex; 
    justify-content: flex-start;
    align-items: center; 
    /*margin-left: auto; 
    padding-right: 20px; */
    margin: 0;
    padding: 0;

}
.pages > * {
    margin-left: 20px;
}
.pages a{
    font-family: 'Leckerli One', cursive;
}

.sociallinks {
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    margin: 0; 
    padding: 0; 
}

.sociallinks > * {
    margin-right: 10px;
}


/*home page*/
.preview {
    position:relative;
    height: 350px;
    display: flex;
    align-items: centre;
    background-image: url("https://i.pinimg.com/564x/58/b8/8e/58b88e41d5b5e54710a2e0b7ef8d93de.jpg");
    background-position: centre;
    background-repeat: no-repeat;
    background-size: cover;

}
.niteswimposter{
    position: absolute;
    top: 55px;
    left: 30px;
}

.preview h5{
    position: relative;
    top: 90px;
    left: 300px;
    font-family: 'Bree Serif', serif;
    color: yellow;
    height:30px;
    font-size: 40px;
    font-style:italic;
}

.preview button{
    position: absolute;
    top: 220px;
    left: 320px;
    background-color: #D3BDCA;
    outline: none;
    padding: 10px 20px; border: none ;
    border-radius: 10px;
    font-family: 'Bree Serif', serif;
}


.toggleimg{
    max-width: 100%; 
    height: auto;
    display: block; 
    margin: 20px 0;
}

/*for no underline at links*/
a{
    text-decoration: none;
}
.link-without-underline {
    text-decoration: none;
}


/*about page*/

.about h3{
    font-family: 'Leckerli One', cursive;
    color: rgb(241, 225, 163);
    font-size: 30px;
}
.aboutp1 {
    text-align: center;
    font-family: 'Vesper Libre', serif;
    color: rgb(241, 225, 163);
}

.aboutp2 {
    text-align: center;
    font-family: 'Vesper Libre', serif;
    color: rgb(241, 225, 163);
}

.mad{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mad_desc{
    text-align: center;
    padding: 50px;
    color: rgb(241, 225, 163);
}

.lil{
    display: flex;
    align-items: center;
    justify-content: center;
}
.lil_desc{
    text-align: center;
    padding: 50px;
    color: rgb(241, 225, 163);
}

.aboutp3{
    text-align: center;
    color: rgb(241, 225, 163);
}

.about{
    position: relative;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("https://i.pinimg.com/564x/58/b8/8e/58b88e41d5b5e54710a2e0b7ef8d93de.jpg");
    background-position: center;
    /*background-repeat: no-repeat;*/
    background-size:cover;
    background-attachment: fixed;
    margin-top: 0px;
}

/*tour page*/


.tour h3{
    font-family: 'Leckerli One', cursive;
    color: rgb(241, 225, 163);
    font-size: 30px;
}

.tour h4{
    color: rgb(204, 155, 240);
    padding-right: 90px;
    font-size: 25px;
    margin: 10px;
}

.tour h6{
    color: rgb(204, 155, 240);
    text-align: center;
}

.tour button{
    margin: 60px;
    background-color: rgb(241, 225, 163);
    border: none;
    border-radius: 5px;
}

.tour hr{
    position: absolute;
    width: 100%;
    height: 2px;
}

.date1{
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date2{
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date3{
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date4{
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date5{
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tour{
    /*background-color: #415782;*/
    position: relative;
    height: fit-content;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("https://i.pinimg.com/564x/58/b8/8e/58b88e41d5b5e54710a2e0b7ef8d93de.jpg");
    background-position: center;
    /*background-repeat: no-repeat;*/
    background-size:cover;
    background-attachment: fixed;
    margin-top: 0px;
}


/*newletter*/
.newsletter body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #415782;
}

.newsl {
    background-color: #415782;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    /*max-width: 500px;*/
    /*width: 100%;*/
}

.forms {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-right: 20px;
}

.forms input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    margin-right: 20px;
}

.forms button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    
}

.imagepage{
    background-color: #415782;
}
.imagepage h2{
    font-family: 'Leckerli One', cursive;
    color: rgb(176, 150, 242);
    font-size: 30px;
}